html {
	overflow-y: auto !important;
}

body {
	background-color: #000;
}

/*Change background and text in autofill textbox*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #154d00 inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: #89f200 !important;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.v-btn--disabled.v-btn--variant-elevated .v-btn__overlay {
    opacity: 0 !important;
}