.item {
    padding:0;
    filter: sepia() hue-rotate(50deg) brightness(1) saturate(2);
}

.abberation {
    padding:0;
    filter: sepia() hue-rotate(45deg) brightness(1.1) saturate(4);
}

.dullAbberation {
    padding:0;
    filter: sepia() hue-rotate(45deg) brightness(.8) saturate(2);
}

.errorAbberation {
    padding:0;
    filter: sepia() saturate(100) hue-rotate(50deg) brightness(1.1);
}

.zUp {
    z-index: 1000;
}
