/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #007d30;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #89f200;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #89f200;
  }