.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fadeSwitch-enter-active, .fadeSwitch-leave-active { 
  transition: opacity .5s; 
}

.brainwash-enter-active {
  animation: brainwash 300ms;
}
.brainwash-leave-active {
  animation: brainwash-out 300ms;
}

@keyframes brainwash {
  0% {
    transform: scale(0) translateX(100%);
  }
  100% {
    transform: scale(1) translateX(0%);
  }
}

@keyframes brainwash-out {
  0% {
    transform: scale(1) translateX(0%);
  }
  100% {
    transform: scale(0) translateX(-100%);
  }
}