.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fadeSwitch-enter-active, .fadeSwitch-leave-active { 
  transition: opacity .5s; 
}

.brainwash-enter-active {
  animation: brainwash-in 200ms;
}

.brainwash-leave-active {
  animation: brainwash-out 200ms;
}

@keyframes brainwash-in {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes brainwash-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-10%);
    opacity: 0;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

@keyframes collapse {
  0% {
    transform: scaleY(0) scaleX(0);
    opacity: 0;
  }
  25% {
    transform: scaleY(0) scaleX(0) translateY(-300px);
    opacity: 0.3;
  }
  75% {
    transform: scaleY(.1) scaleX(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scaleY(1) scaleX(1) translateY(0px);
    opacity: 1;
  }
}

.collapse-enter-active {
  animation: .7s ease-in collapse
}

.collapse-leave-active {
  animation: .7s ease-out reverse collapse
}