.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fadeSwitch-enter-active, .fadeSwitch-leave-active { 
  transition: opacity .5s; 
}

.brainwash-enter-active {
  animation: brainwash .1s;
}

.brainwash-leave-active {
  animation: brainwash .1s reverse; 
}

@keyframes brainwash {
  0% {
    transform: scale(.5);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}