/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--v-background-base);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--v-primary-base);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--v-primary-darken1);
  }